:root {
    --primary-color:var(--primary-color) #0d0f84;
    --secondary-color:var(--secondary-color) #69bd4d;
    --accent-color1:var(--accent-color1) #3b6669;
    --accent-color2:var(--accent-color2) #541c09;
}
h1, h2 {
    color: #3b6669;
    font-family: 'DynaPuff';
}
p {
    color: #541c09;
    font-family: 'Noto Sans';
}
body {
    max-width: 100%;
    margin: 0 auto;
}
.hero {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
}
.hero article, .hero h1 {
    position: relative;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.hero h1 {
    color: white;
    background-color: rgba(0,0,0,0.5);
}
.hero article {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(59,102,105,0.5);
}
.hero article img {
    width: 240px;
    height: auto;
    margin: 20px;
    position: relative;
    z-index: 1;
}
.hero article p {
    color: white;
}
header {
    display: grid;
    margin: 5px;
    padding: 5px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
nav {
    display: flex;
    margin: 5px;
    padding: 0px;
    flex-wrap: wrap;
    list-style: none;
}
nav a {
    padding: 8px;
    text-decoration: none;
    color: #0d0f84;
    font-size: larger;
}
#logo {
    width: 100px;
    height: auto;
    margin: 5px;
    padding: 5px;
}
#history-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#history-section div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px;
    padding: 10px;
}
#history-section H2 {
    display: flex;
    justify-content: center;
}
#history-section div img {
    max-width: 100%;
}
#adventure-section H2 {
    display: flex;
    justify-content: center;
    margin: 10px;
}
#adventure-section div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px;
    padding: 10px;
}
#adventure-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#adventure-section figure {
    margin: 0;
    text-align: center;
}
#adventure-section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 5px;
}
footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0;
}
footer p {
    color: #541c09;
}
.social_links a {
    text-decoration: none;
    display: block;
}
.social_links {
    display: flex;
    gap: 10px;
}
.social_links a img {
    width: 32px;
    height: auto;
}
.about_us {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("/wwr/images/background2.jpg");
    background-size: cover;
    padding: 20px;
}
.about_us div {
    background-color: white;
    border: #3b6669 solid 2px;
    min-width: auto;
    min-height: auto;
    height: auto;
    padding: 5px;
    padding: 10px;
    margin: 10px;
}
.our_team {
    text-align: center;
    padding: 20px;
    background-color: #3b6669;
}
.our_team h2 {
    margin-bottom: 20px;
    color: white;
}
.team_members {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.team_members figure {
    margin: 0;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.team_members img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: white 3px solid;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    padding: 5px;
    margin: 10px;
}
.team_members figcaption {
    padding: 5px;
    margin: 5px;
    font-weight: bold;
}
.contact_us_trio {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 0px;
    background-color: #f0f0f0;
}
.contact_us_trio > div {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.contact_us_trio img {
    max-width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    flex-grow: 1;
}
.contact_us_trio h2 {
    margin-bottom: 10px;
}
.contact_us_trio form {
    color: #541c09;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
.contact_us_trio label {
    margin-bottom: 5px;
}
.contact_us_trio input[type="text"], .contact_us_trio input[type="email"], .contact_us_trio textarea {
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #3b6669;
    border-radius: 4px;
    box-sizing: border-box;
    width: calc(100% - 18px);
}
.contact_us_trio input[type="radio"] {
    margin-right: 5px;
}
.contact_us_trio button[type="submit"] {
    background-color: #0d0f84;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}
.contact_us_trio button[type="submit"]:hover {
    background-color: #69bd4d;
}
/*Imagen de bienvenida para el home con el titulo, parrafo, fondo traslucido y todo eso*/
.image-container {
    position: relative;
    width: 100%;
}
.image-container img {
    width: 100%;
    height: auto;
    display: block;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    flex-direction: column;
}
.overlay h1, p {
    margin: 0;
    color: #f0f0f0;
}
.overlay p span {
    color: cyan;
}
/* parte de home para la seccion de viajes y el boton gigante*/
.trips-buttom-section {
    width: 100%;
    height: auto;
    background-image: url('/wwr/images/background2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
}
.left-trip-section {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-trip-section .trips-home-content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: white;
    text-align: center;
}
.trips-home-content .button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #0d0f84;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}
.trips-home-content .button:hover {
    background-color: #69bd4d;
}
.right-empty {
    width: 33.33%;
}
